<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageAccount" value="DefaultEndpointsProtocol=https;AccountName=nlogteststorage;AccountKey=iCRQpyRSzo670GHBWPCzfLnDMzcm77akwRWy8LVqQ6cFMPvif3VxhwVis/K+jhGroLCT/oroqKun7atyowhrlQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>